<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>
<%= image_tag("PA.png", :class => "red") %>
<%= image_tag("PA.png", :class => "blue") %>
<%= image_tag("PA.png", :class => "green") %>
<%= image_tag("PA.png", :class => "white") %>