// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-color:#FFFFCC;
}
img {
    float:left;
     margin:0;
}

/*Div Layout styles*/
#left {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#map {
    width:350px;
    float:left;
    padding:10px; 
}
#key {
    background-color:#eeeeee;
    width:350px;
    float:left;
    padding:10px; 
}

/*Filter styles*/
.red {-webkit-filter: hue-rotate(0deg);}
.blue {-webkit-filter: hue-rotate(215deg);}
.green {-webkit-filter: hue-rotate(90deg);}
.white {-webkit-filter: grayscale(1) brightness(90);}